<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  <!-- 부트스트랩 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>제목미정</title>
</head>
<body id="body">
  <div id="wrap">
    <div id ="header">
      <div id="logoWrap">
        <div id="logoText">
          <a href="#">로고가 들어가게</a>
        </div>
      </div>
    </div> <!--header 끝-->
    <div id="joinFrom">
      <form method = "post" id="form" th:action="@{/join}">
        <div>
          <!--아이디(사원번호 입력)-->
          <div>
            <div>
              <div id="join_id_label">
                  <label for="employeeNo" class="form-label" id="lblEmployeeNo">
                    사원번호
                  </label>
              </div>
              <div id="join_id_span">
                <span id="employeeIdSpan">
                <input
                        type="number"
                        id="employeeNo"
                        name="employeeNo"
                        required
                        autofocus/>
                </span>
                <div id="employeeIdOk">
                  <p>사용할 수 있는 번호 입니다.</p>
                </div>
                <div id="employeeIdNok">
                  <p>이미 사용중이거나 사용할 수 없는 아이디 입니다.</p>
                </div>
              </div>
            </div>
          </div>

          <!--비밀번호-->
          <div>
            <div>
              <div id="join_pw_lbl">
                <label  for="password" id="lblEmployeePw">
                  비밀번호
                </label>
              </div>
              <div>
                <span id="employee_pw">
                <input
                        type="password"
                        id="password"
                        name="password"
                        required/>
                <span id="passwordOk">
                  <span><img th:src="@{아이콘 이미지}" alt="checkIcon"/></span>
                </span>
                <span id="passwordNok">
                  <span><img th:src="@{아이콘 이미지}" alt="errorIcon"/></span>
                </span>
              </span>
                <div id="passwordNok2">
                  <p class="text-danger">비밀번호 에러문구.</p>
                </div>
              </div>
            </div>
          </div>

          <!--비밀번호 확인-->
          <div>
            <div>
              <div id="join_checkPw_lbl">
                <label for="check_password" id="lblCheckPassword">
                  비밀번호 재확인
                </label>
              </div>
              <div>
                <span id="employee_pw_check">
                  <input
                    type="password"
                    id="check_password"
                    name="check_password"
                    required
                  />
                </span>
              </div>
            </div>
          </div>

          <!--이름-->
          <div>
            <div>
              <div id="join_name_lbl">
                <label for="name" id="name_lbl">이름</label>
              </div>
              <div>
                <span id="name_span">
                  <input
                    type="text"
                    id="name"
                    name="name"
                    required
                  />
                </span>
              </div>
            </div>
          </div>

          <!--전화번호-->
          <div>
            <div>
              <div id="join_phone_lbl">
                <label for="phone" id="phone_lbl">사내전화</label>
              </div>
              <div>
                <span id="phone_span">
                  <input
                          type="text"
                          id="phone"
                          name="phone"
                          required
                  />
                </span>
              </div>
            </div>
          </div>

          <!--사진-->
          <div>
            <div>
              <div id="join_photo_lbl">
                <label for="phone" id="photo_lbl">사진</label>
              </div>
              <div>
                <span id="photo_span">
                  <input
                          type="file"
                          id="photo"
                          name="photo"
                  />
                </span>
              </div>
            </div>
          </div>

          <!--부서-->
          <div>
            <div>
              <div id="join_work_lbl">
                <label for="department" id="department_lbl">부서/직책</label>
              </div>
              <div>
                <select id="department" th:name="department">
                  <option th:value="A" th:text="인사과">인사과</option>
                  <option value="2">개발팀</option>
                  <option value="3">기획팀</option>
                </select>
                <select id="team" th:name="team">
                  <option th:value="B">개발1팀</option>
                </select>
                <select id="work" th:name="work">
                  <option th:value="C">프론트</option>
                </select>
              </div>
            </div>
          </div>

          <!-- 사내 이메일/쪽지보낼 주소-->
          <div>
            <div>
              <div id="join_email_lbl">
                <label for="email" id="email_lbl">이메일</label>
              </div>
              <div>
                <span id="join_email_span">
                  <input type="email" id="email" name="email"/>
                </span>
              </div>
            </div>
          </div>

          <!--입사일-->
          <div>
            <div>
              <div id="join_joinedDate_lbl">
                <label for="joinedDate" id="joinedDate_lbl">이메일</label>
              </div>
              <div>
                <input
                  id="joinedDate"
                  name="joinedDate"
                  type="date"
                >
              </div>
            </div>
          </div>

          <!-- 가입하기 버튼-->
          <div>
            <input
              type="submit"
              value="가입하기"
              id="btnSubmit"
              />
          </div>


        </div>
      </form>
    </div>

  </div>




<!-- 부트스트랩 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>