<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout }">

<head>
  <title>HR | 게시판</title>
  <link rel="stylesheet" th:href="@{/css/post/postList.css}" />
</head>

<div layout:fragment="content">
    <div id="contentWrap">
        <!--bannerSection-->
        <div id="bannerSection">
            <div id="bannerSectionWrap">
                <h1>게시판</h1>
                <p>게시판 &gt; 전체 글 보기</p>
            </div>
        </div>
        <!--end.bannerSection-->

        <table class="table table-hover">
            <thead>
                <tr class="tr" style="text-align: center;">
                    <th style="width: 12%;"></th>
                    <th style="width: 40%;" scope="col">제목</th>
                    <th style="width: 20%;" scope="col">작성자</th>
                    <th style="width: 16%;" scope="col">작성일</th>
                    <th style="width: 12%;" scope="col">조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr" th:each="post: ${list}" style="text-align: center; vertical-align: middle;"
                    th:onclick="|location.href='@{ /post/detail(postNo=${ post.postNo }) }'|">
                    <td th:switch="${ post.noticeYn }" style="font-size: .8em;">
                        <span th:case="4" th:text="${ post.postNo }"></span>
                        <span th:case="3" style="padding: 2px 4px; border-radius: 2px; border: 1px solid green; color: green;">팀 공지</span>
                        <span th:case="2" style="padding: 2px 4px; border-radius: 2px; border: 1px solid orange; color: orange;">부서 공지</span>
                        <span th:case="1" style="padding: 2px 4px; border-radius: 2px; border: 1px solid red; color: red;">전체 공지</span>
                    </td>
                    <td th:text="${post.title}" style="text-align: left;"></td>
                    <td th:text="${post.writer}"></td>
                    <td th:text="${#temporals.format(post.createdTime, 'yyyy-MM-dd HH:mm') }"></td>
                    <td th:text="${post.viewCnt}"></td>
                </tr>
            </tbody>
        </table>

    </div>
    <!--end#contentWrap-->
</div><!--content-->

<script layout:fragment="script" th:inline="javascript">

</script>

</html>