<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  <!-- 부트스트랩 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/employee/join.css}" />
    <title>제목미정</title>
</head>
<!--input type number를 자르기 위해서-->
<script type="text/javascript">
  function maxLengthCheck(object){
    if (object.value.length > object.maxLength){
      object.value = object.value.slice(0, object.maxLength);
    }
  }
</script>

<body id="body">
  <div id="wrap">
    <div id ="header">
      <div id="logoWrap">
        <div id="logoText">
          <a href="#">로고가 들어가게</a>
        </div>
      </div>
    </div> <!--header 끝-->
    <div id="joinFrom">
      <form id="form"  enctype="multipart/form-data">
        <div>
          <!--아이디(사원번호 입력)-->
          <div>
            <div>
              <div id="join_id_label" class="allLabelLeft">
                  <label for="employeeNo" class="form-label" id="lblEmployeeNo">
                    <span style="text-align: left;">사원번호</span>
                  </label>
              </div>
              <div id="join_id_span">
                <span id="employeeIdSpan">
                <input
                        type="text"
                        class="allInputBox"
                        maxlength="10"
                        oninput="maxLengthCheck(this)"
                        id="employeeNo"
                        name="employeeNo"
                        required
                        />
                </span>
                <div id="employeeNoOk" class="d-none">
                  <p>사용할 수 있는 번호 입니다.</p>
                </div>
                <div id="employeeNoNotOk" class="d-none">
                  <p>이미 사용중이거나 사용할 수 없는 아이디 입니다.</p>
                </div>
                <div id="employeeNo_length_errorMsg" class="d-none">
                  <p class="text-danger">사원번호는 8자이상 10자이하여야 합니다.</p>
                </div>
                <div id="employeeNo_checkString" class="d-none">
                  <p id="employeeNo_checkStringMsg" class="text-danger">사원번호는 숫자만 입력해주세요.</p>
                </div>
              </div>
            </div>
          </div>

          <!--비밀번호-->
          <div>
            <div>
              <div id="join_pw_lbl" class="allLabelLeft">
                <label  for="password" id="lblEmployeePw" class="form-label">
                  비밀번호
                </label>
              </div>
              <div>
                <input
                        type="password"
                        class="allInputBox"
                        id="password"
                        maxlength="15"
                        name="password"
                        required/>
                <div id="passwordNotOkMsg" class="d-none">
                  <p class="text-danger">비밀번호는 8자이상 15자이하여야 합니다.</p>
                </div>
              </div>
            </div>
          </div>

          <!--비밀번호 확인-->
          <div>
            <div>
              <div id="join_checkPw_lbl" class="allLabelLeft">
                <label for="check_password" id="lblCheckPassword" class="form-label">
                  비밀번호 재확인
                </label>
              </div>
              <div>
                <span id="employee_pw_check">
                  <input
                    type="password"
                    class="allInputBox"
                    maxlength="15"
                    id="check_password"
                    name="check_password"
                    required
                  />
                </span>
                <div id="password_check_text" class="d-none">
                  <p class="text-danger">비밀번호를 다시 확인해주세요.</p>
                </div>
              </div>
            </div>
          </div>

          <!--이름-->
          <div>
            <div>
              <div id="join_name_lbl" class="allLabelLeft">
                <label for="name" id="name_lbl" class="form-label">이름</label>
              </div>
              <div>
                  <input
                    type="text"
                    class="allInputBox"
                    id="name"
                    maxlength="10"
                    name="name"
                    required
                  />
              </div>
              <div id="name_not_ok" class="d-none">
                  <p class="text-danger">필수 정보입니다.</p>
              </div>
            </div>
          </div>

          <!--전화번호-->
          <div>
            <div>
              <div id="join_phone_lbl" class="allLabelLeft">
                <label for="phone" id="phone_lbl" class="form-label">사내전화</label>
              </div>
              <div>
                  <input
                          type="text"
                          class="allInputBox"
                          maxlength="11"
                          id="phone"
                          name="phone"
                          required
                  />
              </div>
              <div id="phone_not_ok" class="d-none">
                  <p class="text-danger">사내전화번호는 11자로 입력해주세요.('-'뻬고 입력해주세요)</p>
              </div>
              <div id="phone_duplicate" class="d-none">
                <p class="text-danger">이미 사용중인 사내전화 입니다.</p>
              </div>
            </div>
          </div>

          <!--사진-->
            <div class="filebox">
                <div id="show_file_name" class="allLabelLeft">
                    <label for="show_file_input" class="form-label">사진</label>
                </div>
                <input id="show_file_input" class="upload-name" value="첨부파일" placeholder="첨부파일">
                <label for="photo" id="select_file">파일찾기</label>
                <input type="file" id="photo" name="photo">
            </div>

          <!--부서-->
          <div>
            <div>
              <div id="join_work_lbl" class="allLabelLeft">
                <label for="department" id="department_lbl" class="form-label">부서/직책</label>
              </div>
              <div class="row">
                <div class="col-3">
                  <select id="department" class="form-select" th:name="department">
                    <option selected disabled>부서</option>
                    <option value="인사관리부">인사관리부👨‍💼</option>
                    <option value="개발부">개발부💻</option>
                    <option value="기획부">기획부✏️</option>
                  </select>
                </div>
                <div class="col-3">
                  <select id="team" class="form-select team" th:name="team">
                    <option selected disabled>팀</option>
                    <option value="인사팀" class="human">인사팀</option>
                    <option value="회계팀" class="human">회계팀</option>
                    <option value="개발1팀" class="develop">개발1팀</option>
                    <option value="개발2팀" class="develop">개발2팀</option>
                    <option value="사업개발팀" class="develop">사업개발팀</option>
                    <option value="경영기획팀" class="marketing">경영기획팀</option>
                    <option value="사업기획팀" class="marketing">사업기획팀</option>
                  </select>
                </div>
                <div class="col-3">
                  <select id="position" class="form-select" th:name="position">
                    <option value="사원">사원</option>
                    <option value="차장">차장</option>
                    <option value="과장">과장</option>
                    <option value="팀장">팀장</option>
                  </select>
                </div>
                <div class="col-3">
                  <select id="work" class="form-select work" th:name="work">
                    <option selected disabled>담당</option>
                    <option value="인사발령" class="human">인사발령</option>
                    <option value="징계" class="human">징계</option>
                    <option value="수익관리" class="human">수익관리</option>
                    <option value="프론트엔드" class="develop">프론트엔드</option>
                    <option value="백엔드" class="develop">백엔드</option>
                    <option value="광고기획" class="marketing">광고기획</option>
                    <option value="광고디자인" class="marketing">광고디자인</option>
                  </select>
                </div>
                <div class="col-3">

                </div>
              </div>
            </div>
          </div>

          <!-- 사내 이메일/쪽지보낼 주소-->
          <div>
            <div>
              <div id="join_email_lbl" class="allLabelLeft">
                <label for="email" id="email_lbl" class="form-label">이메일</label>
              </div>
              <div>
                  <input type="email" id="email" name="email" class="allInputBox" maxlength="30"/>
              </div>
              <div id="email_blank" class="d-none">
                  <p class="text-danger">필수 정보입니다.</p>
              </div>
              <div id="duplicateEmailMsg" class="d-none">
                <p class="text-danger">이미 존재하는 이메일 입니다.</p>
              </div>
              <div id="notEmailForm" class="d-none">
                <p class="text-danger">이메일 양식을 지켜주세요(@ 미포함)</p>
              </div>
            </div>
          </div>

          <!--입사일-->
          <div>
            <div>
              <div id="join_joinedDate_lbl" class="allLabelLeft">
                <label for="joinedDate" id="joinedDate_lbl" class="form-label">입사일</label>
              </div>
              <div>
                <input
                  id="joinedDate"
                  class="allInputBox"
                  placeholder="입사일 입력"
                  name="joinedDate"
                  type="date"
                  required
                >
              </div>
            </div>
          </div>

          <!-- 가입하기 버튼-->
          <div>
            <input
              type="submit"
              value="가입하기"
              id="btnSubmit"
              class="btn btn-primary"
              />
          </div>


        </div>
      </form>
    </div>

  </div>

  <!--axios사용-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- 부트스트랩 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <!--회원가입 html js-->
  <script th:src="@{/js/employee/join.js}"></script>

</body>
</html>