<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/employee/login.css}" />
</head>
<body>
    <div class="wrapper" >
        <div class="content">
            <div id="logoText">
                <a href="#">로고가들어가게</a>
            </div>
            <form th:acntion="@{/login}" method="post">
                <div id="login_box">
                    <div id="employeeNo_box" class="input_interval">
                        <label for="employeeNo">사원번호</label>
                        <input type="text" id="employeeNo" name="username"/>
                    </div>
                    <div id="password_box" class="input_interval">
                        <label for="password">비밀번호</label>
                        <input type="password" id="password" name="password"/>
                    </div>
                </div>
                <!--에러메시지-->
                <div th:if="${param.error}" id="error_msg">
                    <p class="text-danger">사원번호와 비밀번호를 다시 확인해주세요.</p>
                </div>
                <div id="login_button_div">
                    <input id="login_button" class="btn btn-primary" type="submit" value="로그인"/>
                </div>
            </form>
            <div id="find">
                <a th:href="@{/#}">아이디 찾기</a>
                <a th:href="@{/#}">비밀번호 찾기</a>
                <a th:href="@{/join}">회원가입</a>
            </div>
        </div>
    </div>

<!-- 부트스트랩 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<!--회원가입 html js-->
<script th:src="@{/js/employee/login.js}"></script>
</body>
</html>