<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{ layout/layout.html }">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
    <link rel="stylesheet" th:href="@{/css/employee/myPage.css}">
</head>
<body>
<div layout:fragment="content">
    <div id="wrap">
        <div id="header_info">
            <div id="image">
                <img src="#" alt="사원사진"/>
            </div>
            <div id="name_team_info">
                <p id="header_name" class="header_title_color" th:text="${#authentication.principal.name}"></p>
                <p id ="header_team" class="header_content_color" th:text="${#authentication.principal.part.team}"></p>
            </div>

            <div id="header_info_wrap">
                <div id="header_info_1">
                    <div>
                        <p class="info_1_title header_title_color">* 사번</p>
                        <p class="header_content_color" th:text="${#authentication.principal.employeeNo}"></p>
                    </div>
                    <div>
                        <p class="info_1_title header_title_color" style="padding-right: 89px">* 소속</p>
                        <p class="header_content_color" th:text="${#authentication.principal.part.department}"></p>
                    </div>
                    <div>
                        <p class="info_1_title header_title_color" style="padding-right: 155px">* 팀</p>
                        <p class="header_content_color" th:text="${#authentication.principal.part.team}"></p>
                    </div>
                    <div>
                        <p class="info_1_title header_title_color" style="padding-right: 67px">* 직책</p>
                        <p class="header_content_color" th:text="${#authentication.principal.part.work}"></p>
                    </div>
                </div>
                <div id="header_info_2">
                    <div>
                        <p class="info_1_title header_title_color">* 성명</p>
                        <p class="header_content_color" th:text="${#authentication.principal.name}"></p>
                    </div>
                    <div>
                        <p class="info_1_title header_title_color">* 입사일</p>
                        <p class="header_content_color" th:text="${#authentication.principal.joinedDate}"></p>
                    </div>
                    <div>
                        <p class="info_1_title header_title_color">* 사내 이메일</p>
                        <p class="header_content_color" th:text="${#authentication.principal.email}"></p>
                    </div>
                    <div>
                        <p class="info_1_title header_title_color">* 사내 번호</p>
                        <p class="header_content_color" th:text="${#authentication.principal.phone}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="body_wrap">
            <div id="div_body_cover container">
                <form id="form" enctype="multipart/form-data">
                    <!-- 사원번호 이름 -->
                    <div id="employeeNo_name" class="wrap_div row">
                        <div id="div_employeeNo" class="input_wrap_div text-left col-xxl-6">
                            <span>사원번호</span>
                            <input class="design-input" th:value="${#authentication.principal.employeeNo}" type="text" readonly name="employeeNo"/>
                        </div>
                        <div id="div_name" class="input_wrap_div text-left col-xxl-6">
                            <span>이름</span>
                            <input class="design-input" th:value="${#authentication.principal.name}" type="text" name="name"/>
                        </div>
                    </div>

                    <!--입사일, 사내 번호-->
                    <div id="joinedDate_phone" class="wrap_div row">
                          <div id="div_joinedDate" class="input_wrap_div text-left col-6">
                              <span>입사일</span>
                              <input class="design-input" th:value="${#authentication.principal.joinedDate}" type="date" readonly />
                        </div>
                        <div id="div_phone" class="input_wrap_div text-left col-xxl-6">
                            <span>사내 번호</span>
                            <input class="design-input" th:value="${#authentication.principal.phone}" type="text" name="phone"/>
                        </div>
                    </div>

                    <!--사내이메일 , 부서 팀 직책-->
                    <div id="email_team" class="wrap_div row">
                        <div id="div_email" class="input_wrap_div col-xxl-6 col-md-3 text-left" style="display: inline-block">
                            <span>사내 이메일</span>
                            <input class="design-input" th:value="${#authentication.principal.email}" type="email" readonly/>
                        </div>
                        <div id="div_team" class="col-xxl-6 text-left" style="display: inline-block">
                            <span>부서/직책</span>
                            <select id="department" class="select_part" th:name="department">
                                <option selected disabled>부서</option>
                                <option th:value="1">인사부👨‍💼</option>
                                <option value="2">개발부💻</option>
                                <option value="3">기획부✏️</option>
                                <option value="4">마케팅부📑</option>
                            </select>
                            <select id="team" class="select_part team" th:name="team">
                                <option selected disabled>팀</option>
                                <option th:value="a" class="develop">개발1팀</option>
                                <option th:value="r" class="develop">개발2팀</option>
                                <option value="b" class="human">인사1팀</option>
                            </select>
                            <select id="work" class="select_part work" th:name="work">
                                <option selected disabled>담당</option>
                                <option th:value="c" class="develop">프론트엔드</option>
                                <option th:value="p" class="develop">백엔드</option>
                            </select>
                        </div>
                    </div>

                    <!--수정 버튼-->
                    <div>
                        <input type="submit" value="가입하기" id="buttonUpdate">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<th:block layout:fragment="script">
    <script th:src="@{/js/employee/myPage.js}"></script>
</th:block>
</body>
</html>