<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{ layout/layout.html }">
<head>
    <meta charset="UTF-8">
    <title>sohwakmo</title>
    <link rel="stylesheet" th:href="@{/css/home/home.css}">
</head>
<div layout:fragment="content">
<div id="body" style="height: 100%; width: 100%;">
        <div id="headerMsg" style="height: 7%; width: 100%; margin-bottom: 1%;">
            <h3><span th:text="${#authentication.principal.name}"></span>님!!</h3>
            <span id="welcome">소확모와 함께 빛나는 미래를 위해 달려요~~</span>
        </div>

        <!-- 사원번호 가져오기 위한 hidden -->
        <input id="get_employeeNo" type="hidden" th:value="${#authentication.principal.employeeNo}"/>

        <div style="height: 92%; width: 100%;">
            <div id="myWork" class="row" style="height: 49%; width: 100%; margin: 0 0 1% 0;">
                <div class="col-4" style="margin: 0; padding: 0 16px 0 0; height: 100%;">
                    <div id="work_info_div" style="margin: 0; height: 50%">
                        <h3>Hi! <span th:text="${#authentication.principal.name}"></span>님,</h3>
                        <div id="notWorking_msg" th:if="${attendance=='notAttendance'}">
                            <h3>아직 출근 전입니다 :)</h3>
                        </div>
                        <div th:if="${attendance!='notAttendance'}">
                            <div id="working_msg" th:if="${attendance.endTime == '00:00'}">
                                <h3>조금만 힘내요!!</h3>
                            </div>
                            <div id="endWork_msg" th:if="${attendance.endTime != '00:00'}">
                                <h3>오늘도 수고하셨습니다!</h3>
                            </div>
                        </div>
                        <div th:if="${attendance=='notAttendance'}">
                            <div>
                                <button id="startButton" type="button" class="btn btn-primary allButton">업무 시작</button>
                            </div>
                        </div>
                        <!-- 출근후 버튼 -->
                        <div th:if="${attendance != 'notAttendance'}" class="row">
                            <!-- 자리비움 버튼 -->
                            <div th:if="${attendance.endTime == '00:00'}" class="col-6">
                                <div th:if="${attendance.state != 1}">
                                    <button type="button" id="absenceButton" class="btn btn-secondary halfButton">자리 비움</button>
                                </div>
                                <div th:if="${attendance.state == 1}">
                                    <button type="button" id="absenceReleaseButton" class="btn btn-secondary halfButton">자리 비움 해제</button>
                                </div>
                            </div>
                            <!--아직 업무중일때 버튼 -->
                            <div th:if="${attendance.endTime == '00:00'}" class="col-6">
                                <button type="button" id="endButton" class="btn btn-danger halfButton">업무 종료</button>
                            </div>
                            <!-- 업무가 다끝났을때 버튼 -->
                            <div th:if="${attendance.endTime != '00:00'}">
                                <button type="button" class="btn btn-secondary allButton" disabled>퇴근 완료</button>
                            </div>
                        </div>
                    </div>

                    <!-- 출결 관리 -->
                    <div id="attendance_wrap">
                        <div id="time_info">
                            <!------------------ 출근xxxxxxxxxxxxx ---------->
                            <div th:if="${attendance=='notAttendance'}">
                                <div class="row">
                                    <div id="state_time2" class="state_time">
                                        <p>업무중이 아닙니다.</p>
                                    </div>
                                </div>
                                <div id="div_time2" class="row">
                                    <div id="startTime2" class="startTime col-6">
                                        <p>출근 시간</p>
                                        <p>00:00</p>
                                    </div>
                                    <div id="endTme2" class="endTme col-6">
                                        <p>예상 퇴근 시간</p>
                                        <p>00:00</p>
                                    </div>
                                </div>
                            </div>
                            <!------------------ 출근oooooooooooo ---------->
                            <div th:if="${attendance != 'notAttendance' }">
                                <!--예상 퇴근시간 -->
                                <div th:if="${attendance.endTime == '00:00'}">
                                    <!-- 자리비움이 아닐때 -->
                                    <div th:if="${attendance.state!=1}">
                                        <div class="state_time row">
                                            <p><span class="light">🟢</span> 업무중 : <span th:text="${workingTime}"></span></p>
                                        </div>
                                    </div>
                                    <!-- 자리비움 상태일때 -->
                                    <div>
                                        <div th:if="${attendance.state==1}">
                                            <div class="state_time row">
                                                <p><span class="light">🟡</span>자리비움 상태 입니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="startTime col-6">
                                            <p>출근 시간</p>
                                            <p th:text="${attendance.startTime}"></p>
                                        </div>
                                        <div class="endTme col-6">
                                            <p>예상 퇴근 시간</p>
                                            <p th:text="${attendance.expectEndTime}"></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- 진짜 퇴근시간-->
                                <div th:if="${attendance.endTime != '00:00'}">
                                    <div class="state_time row">
                                        <p>내일도 화이팅!!</p>
                                    </div>
                                    <div class="row">
                                        <div class="startTime col-6">
                                            <p>출근 시간</p>
                                            <p th:text="${attendance.startTime}"></p>
                                        </div>
                                        <div class="endTme col-6">
                                            <p>퇴근 시간</p>
                                            <p th:text="${attendance.endTime}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-8" style=" margin: 0; padding: 0 0 0 16px;">
                    <div id="doc" class="border">
                        <div>
                            <form id="form">
                                <div class="row" style="padding-left: 16px">
                                    <div id="select_div" class="col-2">
                                        <select  id="payment" name="payment"  class="form-control" >
                                            <option value="vacation" th:attrappend="selected = ${vacation=='vacation' ? 'selected' : ''}">휴가/연차/반차</option>
                                            <option value="trip" th:attrappend="selected = ${trip=='trip' ? 'selected' : ''}">출장</option>
                                            <option value="card" th:attrappend="selected = ${card=='card' ? 'selected' : ''}">명함신청</option>
                                            <option value="leave" th:attrappend="selected = ${leave=='leave' ? 'selected' : ''}">퇴사신청</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <fieldset class="border-1" id="jb-table">
                                <table class="table" style="border-collapse: collapse">
                                    <thead>
                                    <tr>
                                        <th style="width: 16%"></th>
                                        <th style="width: 40%">제목</th>
                                        <th style="width: 22%">작성 시간</th>
                                        <th style="width: 22%">결재 상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="l : ${docList}">
                                            <th:block th:if="${l.category} == '명함' ">
                                            <tr th:onclick="|location.href='@{payment/businessCard/detail(no=${l.no})}'|">
                                                <td th:text="${l.no}"></td>
                                                <td th:text="${l.title}"></td>
                                                <td th:text="${ #temporals.format(l.createdTime, 'yyyy년 MM월 dd일') }"></td>
                                                <td th:text="${l.state}" style="color: #0a53be; font-weight: bold;"></td>
                                            </tr>
                                            </th:block>
                                            <th:block th:if="${l.category} == '연차' or ${l.category} == '오전 반차' or ${l.category} == '오후 반차'  ">
                                                <tr th:onclick="|location.href='@{payment/vacation/detail(no=${l.no})}'|">
                                                    <td th:text="${l.no}"></td>
                                                    <td th:text="${l.title}"></td>
                                                    <td th:text="${ #temporals.format(l.createdTime, 'yyyy년 MM월 dd일') }"></td>
                                                    <td th:text="${l.state}" style="color: #0a53be; font-weight: bold;"></td>
                                                </tr>
                                            </th:block>
                                            <th:block th:if="${l.category} == '출장' ">
                                                <tr th:onclick="|location.href='@{payment/businessTrip/detail(no=${l.no})}'|">
                                                    <td th:text="${l.no}"></td>
                                                    <td th:text="${l.title}"></td>
                                                    <td th:text="${ #temporals.format(l.createdTime, 'yyyy년 MM월 dd일') }"></td>
                                                    <td th:text="${l.state}" style="color: #0a53be; font-weight: bold;"></td>
                                                </tr>
                                            </th:block>
                                            <th:block th:if="${l.category} == '퇴사' ">
                                                <tr th:onclick="|location.href='@{payment/leave/detail(no=${l.no})}'|">
                                                    <td th:text="${l.no}"></td>
                                                    <td th:text="${l.title}"></td>
                                                    <td th:text="${ #temporals.format(l.createdTime, 'yyyy년 MM월 dd일') }"></td>
                                                    <td th:text="${l.state}" style="color: #0a53be; font-weight: bold;"></td>
                                                </tr>
                                            </th:block>
                                    </th:block>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>


            <div id="line2" style="height:49%; padding-top: 1%;">
                <div class="row" style="height: 100%; ">
                    <!--주환-->
                    <div class="col-4" style="height: 100%; margin: 0;">
                        <div style="height: 100%; padding: 0;">
                            <div id="schedule" style="height: 100%">
                                <div style="height: 100%; overflow: auto; overflow-x:hidden">
                                    <h4 th:text="${todayMonth} + '월 ' + ${todayDate} + '일'"></h4>
                                    <!--오늘 일정-->
                                    <div>
                                        <!--출장-->
                                        <div class="row" th:if="${businessTripList.size()!=0}">
                                            <div class="col-2 scheduleTitle">
                                                <span style="text-align: center">출장</span>
                                            </div>
                                            <div class="col-10">
                                                <div th:each="b:${businessTripList}">
                                                    <p th:text="'- 출장 목적 : ' + ${b.reason}"></p>
                                                    <p th:text="'- 출장 지역 : ' + ${b.place}"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" th:if="${businessTripList.size()==0}">
                                            <div class="col-2 scheduleTitle">
                                                <span style="text-align: center">출장</span>
                                            </div>
                                            <div class="col-10">
                                                <p>- 금일 출장 일정이 없습니다.</p>
                                            </div>
                                        </div>
                                        <!--반차/연차/휴가-->
                                        <div class="row" th:if="${vacationList.size()!=0}">
                                            <div class="col-2 scheduleTitle">
                                                <span style="text-align: center">휴가</span>
                                            </div>
                                            <div class="col-10">
                                                <div th:each="v:${vacationList}">
                                                    <p th:text="'- ' + ${v.category} + ' : ' +${v.title}"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" th:if="${vacationList.size()==0}">
                                            <div class="col-2 scheduleTitle">
                                                <span style="text-align: center">휴가</span>
                                            </div>
                                            <div class="col-10">
                                                <p>- 금일 휴가 일정이 없습니다.</p>
                                            </div>
                                        </div>
                                        <!--회의 예약-->
                                        <div class="row" th:if="${reservationList.size()!=0}">
                                            <div class="col-2 scheduleTitle">
                                                <span style="text-align: center">회의</span>
                                            </div>
                                            <div class="col-10">
                                                <div th:each="r:${reservationList}">
                                                    <p th:text="'⏱ 회의시간 : '+${r.startTime} + ' ~ ' +${r.endTime}"></p>
                                                    <p th:text="'- 회의실 위치 : ' + ${r.roomPlace} + ' ' + ${r.roomName}"></p>
                                                    <p th:text="'❗ 회의 목적 : ' + ${r.purpose}"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" th:if="${reservationList.size()==0}">
                                            <div class="col-2 scheduleTitle">
                                                <span style="text-align: center">회의</span>
                                            </div>
                                            <div class="col-10">
                                                <p>- 금일 회의 일정이 없습니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-8" style="height: 100%; margin: 0;">
                        <div style="padding-left: 8px; height: 100%">
                            <div id="post_table" class="border">
                                <table class="table table-hover">
                                    <thead>
                                    <tr class="tr">
                                        <th style="width: 16%;"></th>
                                        <th scope="col" style="width: 40%;">제목</th>
                                        <th scope="col" style="width: 22%;">작성자</th>
                                        <th scope="col" style="width: 22%;">작성일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tr" th:each="post: ${postList}" th:onclick="|location.href='@{ /post/detail(postNo=${ post.postNo }) }'|">
                                        <td th:switch="${ post.noticeLv }" style="font-size: 0.8em;">
                                            <span th:case="4" th:text="${ post.postNo }"></span>
                                            <span th:case="3" style="padding: 2px 4px; border-radius: 2px; border: 1px solid green; color: green;">팀 공지</span>
                                            <span th:case="2" style="padding: 2px 4px; border-radius: 2px; border: 1px solid orange; color: orange;">부서 공지</span>
                                            <span th:case="1" style="padding: 2px 4px; border-radius: 2px; border: 1px solid red; color: red;">전체 공지</span>
                                        </td>
                                        <td class="title_td" th:text="${post.title}"></td>
                                        <td th:text="${post.writer}"></td>
                                        <td th:text="${#temporals.format(post.createdTime, 'yyyy-MM-dd HH:mm') }"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/home/home.js}"></script>
<!--    <script th:src="@{ /js/payment/list.js }"></script>-->
    <!--axios사용-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</th:block>
</html>