<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{ layout/layout.html }">
<head>
    <meta charset="UTF-8">
    <title>제목미정</title>
    <link rel="stylesheet" th:href="@{/css/home/home.css}">
</head>
<div layout:fragment="content">
<div id="body">
    <div id="wrap">
        <div id="headerMsg">
            <h3>Hi! <span th:text="${#authentication.principal.name}"></span>님</h3>
            <span>~님의 업무 환영 문구~</span>
        </div>

        <!-- 사원번호 가져오기 위한 hidden -->
        <input id="get_employeeNo" type="hidden" th:value="${#authentication.principal.employeeNo}"/>


        <div id="myWork">
            <div class="interval">
                <!--TODO 출근 전후로 나눠서 문구 출력-->
                <h3>Hi! <span th:text="${#authentication.principal.name}"></span>님,</h3>
                <div id="notWorking_msg" th:if="${attendance=='notAttendance'}">
                    <h3>아직 출근 전입니다 :)</h3>
                </div>
                <div th:if="${attendance!='notAttendance'}">
                    <div id="working_msg" th:if="${attendance.endTime == '00:00'}">
                        <h3>조금만 힘내요!!</h3>
                    </div>
                    <div id="endWork_msg" th:if="${attendance.endTime != '00:00'}">
                        <h3>오늘도 수고하셨습니다!</h3>
                    </div>
                </div>
            </div>
            <!-- 업무시작 버튼-->
            <!-- 출근전 버튼 -->
            <div th:if="${attendance=='notAttendance'}">
                <div class="interval">
                    <button id="startButton" type="button" class="btn btn-primary allButton">업무 시작</button>
                </div>
            </div>
            <!-- 출근후 버튼 -->
            <div th:if="${attendance != 'notAttendance'}">
                <!-- 자리비움 버튼 -->
                <div class="half_interval" th:if="${attendance.endTime == '00:00'}">
                    <div th:if="${attendance.state != 1}">
                        <button type="button" id="absenceButton" class="btn btn-secondary halfButton">자리 비움</button>
                    </div>
                    <div th:if="${attendance.state == 1}">
                        <button type="button" id="absenceReleaseButton" class="btn btn-secondary halfButton">자리 비움 해제</button>
                    </div>
                </div>
                <!--아직 업무중일때 버튼 -->
                <div class="half_interval" th:if="${attendance.endTime == '00:00'}">
                    <button type="button" id="endButton" class="btn btn-danger halfButton">업무 종료</button>
                </div>
                <!-- 업무가 다끝났을때 버튼 -->
                <div class="interval" th:if="${attendance.endTime != '00:00'}">
                    <button type="button" class="btn btn-secondary allButton" disabled>퇴근 완료</button>
                </div>
            </div>
        </div>

        <!-- 문서결제-->
        <div id="todo">
            <div>
                <h3>공백</h3>
            </div>
        </div>

        <!-- 출결 관리 -->
        <div id="attendance_wrap">
            <div id="time_info">
                <!------------------ 출근xxxxxxxxxxxxx ---------->
                <div th:if="${attendance=='notAttendance'}">
                    <div id="state_time2" class="state_time">
                        <sapn>🔴 </sapn>
                        <p>업무중이 아닙니다.</p>
                    </div>
                    <div id="div_time2" class="div_time">
                        <div id="startTime2" class="startTime">
                            <p>출근 시간</p>
                            <p>00:00</p>
                        </div>
                        <div id="endTme2" class="endTme">
                            <p>예상 퇴근 시간</p>
                            <p>00:00</p>
                        </div>
                    </div>
                </div>
                <!------------------ 출근oooooooooooo ---------->
               <div th:if="${attendance != 'notAttendance' }">
                   <!--예상 퇴근시간 -->
                   <div th:if="${attendance.endTime == '00:00'}">
                       <!-- 자리비움이 아닐때 -->
                       <div th:if="${attendance.state!=1}">
                           <div id="state_time0" class="state_time">
                               <sapn>🟢</sapn>
                               <p> 업무중 : <span th:text="${workingTime}"></span></p>
                           </div>
                       </div>
                       <!-- 자리비움 상태일때 -->
                       <div>
                           <div th:if="${attendance.state==1}">
                               <div id="state_time" class="state_time">
                                   <p>자리비움 상태 입니다.</p>
                               </div>
                           </div>
                       </div>

                       <div id="startTime0" class="startTime">
                           <p>출근 시간</p>
                           <p th:text="${attendance.startTime}"></p>
                       </div>
                       <div class="endTme">
                           <p>예상 퇴근 시간</p>
                           <p th:text="${attendance.expectEndTime}"></p>
                       </div>
                   </div>
                   <!-- 진짜 퇴근시간-->
                   <div th:if="${attendance.endTime != '00:00'}">
                       <div class="state_time">
                           <p>내일도 화이팅!!</p>
                       </div>
                       <div class="startTime">
                           <p>출근 시간</p>
                           <p th:text="${attendance.startTime}"></p>
                       </div>
                       <div class="endTme">
                           <p>퇴근 시간</p>
                           <p th:text="${attendance.endTime}"></p>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>

</div>

</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/home/home.js}"></script>
    <!--axios사용-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</th:block>
</html>