<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{ layout/layout.html }">
<head>
    <meta charset="UTF-8">
    <title>제목미정</title>
    <link rel="stylesheet" th:href="@{/css/home/home.css}">
</head>
<div layout:fragment="content">
<div id="body">
    <div id="wrap">
        <div id="headerMsg">
            <h3>Hi! <span th:text="${#authentication.principal.name}"></span>님</h3>
            <span>~님의 업무 환영 문구~</span>
        </div>

        <div id="myWork">
            <div class="interval">
                <h3>나의 근무</h3>
            </div>
            <div class="interval">
                <img src="#" alt="사원 사진">
            </div>
            <div class="interval">
                <button id="vacation_request" type="button" class="btn btn-primary">휴가신청</button>
            </div>
        </div>

        <div id="todo">
            <div>
                <h3>공백</h3>
            </div>
        </div>
    </div>

</div>

</div>

<th:block layout:fragment="script">
  <script th:src="@{/js/home/home.js}"></script>
</th:block>
</html>