/*.main{ width: 80%; height: 100vh; border: 1px solid #f2f2f2; margin: 0 auto; }*/
/*.main > header { text-align: center; font-size: 30px; background:#ccc; }*/

.div1{ border-bottom:1px solid #ccc;}
.div2 > input{ display:inline-block; width:90%;}

.my-2 > textarea{ width:100%; height:300px;}

div > label{ width:100px;}