<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html}">
<head>
    <link th:href="@{/css/layout/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/meetingRoom/meetingRoomCreate.css}" rel="stylesheet"/>

</head>
<div layout:fragment="content">
        <div class ="container">
            <div>
                <h1>회의실 예약신청</h1>
            </div>

            <form method = "post" action = "/meetingRoom/create" id="createForm">
                <input  type="hidden" name="employeeNo" id="employeeNo" th:value="5" />
                <div class="p-3 border-bottom">
                    <label for="reserveName" style=" width: 150px; ">예약자</label>
                    <input id="reserveName" type="text" name="reserveName" th:value="김김김" style="border: none; background: transparent;" readonly />
                </div>
                <div class = "p-3 border-bottom">
                    <label for="title" style=" width: 150px; ">제목</label>
                    <input id="title" class="align-text-top"
                           type="text" name="title" placeholder="제목을 입력해주세요." required />
                </div>


                <div class = "p-3 border-bottom">
                    <label for="myid1" style=" width: 150px; ">예약날짜</label>
<!--                    <input id="reserveDate" class="align-text-top"-->
<!--                           type="date" name="reserveDate" required />-->
                    <input id="myid1" class="align-text-top" type="text"
                          name="reserveDate" required />
<!--                    <input type="text" name="datetimes" />-->

                    <input id="start" class="align-text-top" type="text"
                           name="startTime" required />
                    <span class="mt-auto m-2 pb-3 pt-xl-5">~</span>
                    <input id="end" class="align-text-top" type="text"
                           name="endTime" required />


                    <span class="mt-auto m-2 pb-3 pt-xl-5">~</span>

                </div>

                <div class = "p-3 border-bottom">
                    <label for="roomName" style=" width: 150px; ">회의실</label>
                    <select id="roomName" class="align-text-top"  name="roomName" onchange="roomNamePlace(this)">
                        <option>회의실을 선택해주세요</option>
                        <option value="회의실1">회의실1</option>
                        <option value="회의실2">회의실2</option>
                        <option value="회의실3">회의실3</option>
                        <option value="회의실4">회의실4</option>
                        <option value="회의실5">회의실5</option>
                        <option value="회의실6">회의실6</option>
                        <option value="회의실7">회의실7</option>
                        <option value="회의실8">회의실8</option>
                        <option value="회의실9">회의실9</option>
                        <option value="회의실10">회의실10</option>
                    </select>
                </div>
                <div class = "p-3 border-bottom">
                    <label for="roomPlace" style=" width: 150px; " >회의실 위치</label>
                    <select id="roomPlace" class="align-text-top"  name="roomPlace" readonly>
                        <option >회의실을 선택해주세요.</option>
                    </select>
                    <!--                    <input id="roomPlace" class="align-text-top"-->
                    <!--                            type="text" name="roomPlace" readonly required/>-->
                </div>

                <div class= "p-3 border-bottom">
                    <label for="attendee" style=" width: 150px; ">참석자</label>
                    <input id="attendee" class="align-text-top"
                           type="text" name="attendee" readonly />

<!--                    <div class="invite-icon"><i class="fa-solid fa-user-plus"></i></div>-->


                    <input type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#inviteModal" data-bs-whatever="@mdo" value="초대" />

                    <div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">참석자</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="container" style=" width: 300px; height: 400px;">
                                    <ul class="tree" id="orgTree">

                                    </ul>
                                </div>

                                <div>
                                    <input id="name" type="text" style="border: none; background: lightgray; width: 70px;" class="text-center" readonly/>
                                </div>
                                <div class="modal-footer">

<!--                                    <button type="button" class="btn btn-light" id="modelInviteBtn">초대하기</button>-->
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">초대하기</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class= "p-3 mt-2 border-bottom">
                    <label for="purpose" style=" width: 150px; " >사용목적</label>
                    <textarea id="purpose" class="align-text-top" style="width: 100%;"
                              name="purpose" placeholder="사용목적을 입력해주세요." required></textarea>
                </div>

                <div class="pb-3 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-light me-md-1" id="createBtn" name="createForm">저장</button>
                    <a class="btn btn-light" href="/meetingRoom/list" >목록</a>
                </div>
            </form>


    </div>
</div>

<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>


    <script th:src="@{ /js/meetingRoom/meetingRoomCreate.js}"></script>

</th:block>
</html>