<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html}">
<head>
    <link th:href="@{/css/layout/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/meetingRoom/meetingRoomCreate.css}" rel="stylesheet"/>

</head>
<div layout:fragment="content">
    <div class ="container-fluid px-4" style="border-color: gray;">
        <div class="mb-4"  style="font-weight: bolder; font-family:  'Corbel';">
            <h1>회의실 예약신청</h1>
        </div>
        <div class="my-4" style="padding-left: 50px;  padding-right: 200px;" >
            <form method = "post" action = "/meetingRoom/create" id="createForm">
                <input  type="hidden" name="employeeNo" id="employeeNo" th:value="${#authentication.principal.employeeNo}" />
                <div class="p-3 border-bottom my-2">
                    <label for="reserveName" style=" width: 200px; font-weight: bolder;font-size: 18px; color: #5c636a ">예약자명</label>
                    <input id="reserveName" type="text" name="reserveName" th:value="${#authentication.principal.name}" style="border: none; background: transparent; font-weight: bold; font-size: 18px;  width: 100px; " readonly />
                </div>
                <div class = "p-3 border-bottom my-2">
                    <label for="title" style=" width: 200px; font-weight: bolder; font-size: 18px; color: #5c636a ">제목</label>
                    <input id="title" class="align-text-top bg-secondary bg-opacity-10" style="border:0 solid black;  height: 40px; width:70%; font-weight: bolder; font-size: 15px;"
                           type="text" name="title" placeholder="제목을 입력해주세요." required />
                </div>


                <div class = "p-3 border-bottom-0 my-2">
                    <label for="reserveDate" style=" width: 200px; font-weight: bold; font-size: 18px; color: #5c636a ">예약날짜</label>
                    <input id="reserveDate" class="align-text-top " type="text"
                           name="reserveDate" style="border: none; background: transparent; font-weight: bold; font-size: 18px; color: #999999; width: 30%;" readonly />
                </div>
                <div class = "p-3 border-bottom my-2">
                    <label for="startTime" style=" width: 200px; font-weight: bold; font-size: 18px; color: #5c636a ">예약시간</label>
                    <input id="startTime" class="align-text-top" type="text"
                           name="startTime" style="border: none; background: transparent; font-weight: bold; font-size: 18px; color: #999999; width: 50px;" readonly />
                    <span class="mt-auto m-2 pb-3 pt-xl-5" style="font-weight: bold; font-size: 18px; color: #999999;">~</span>
                    <input id="endTime" class="align-text-top " type="text"
                           name="endTime"  style="border: none; background: transparent; font-weight: bold; font-size: 18px; color: #999999; width: 100px;" readonly />
                </div>

                <div class = "p-3 border-bottom-0 my-2">
                    <label for="roomName" style=" width: 200px; font-weight: bold; font-size: 18px; color: #5c636a ">회의실</label>
                    <input id="roomName" class="align-text-top " type="text"
                           name="roomName" style="border: none; background: transparent; font-weight: bold; font-size: 18px; color: #999999; width: 100px;" readonly />
                </div>
                <div class = "p-3 border-bottom my-2">
                    <label for="roomPlace" style=" width: 200px; font-weight: bold; font-size: 18px; color: #5c636a " >회의실 위치</label>
                    <input id="roomPlace" class="align-text-top " type="text"
                           name="roomPlace" style="border: none; background: transparent; font-weight: bold; width: 100px; font-size: 18px; color: #999999;  " readonly />
                </div>

                <div class= "p-3 border-bottom my-2">
                    <label for="attendee" style=" width: 200px; font-weight: bolder; font-size: 18px; color: #5c636a ">참석자</label>
                    <input id="attendee" class="align-text-top bg-secondary bg-opacity-10 " style="border:0 solid black;  height: 40px; width:50%; font-weight: bolder; font-size: 15px;"
                           type="text" name="attendee" placeholder="참석자를 선택해주세요." readonly />
                    <button class="btn btn-light" style="margin-top: 15px; " data-bs-toggle="modal" data-bs-target="#inviteModal" data-bs-whatever="@mdo"><i class="fa-solid fa-user-plus"  ></i></button>
                    <div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">참석자</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="container" style=" width: 600px; height: 500px;">
                                    <ul class="tree" id="orgTree">

                                    </ul>
                                </div>

                                <div>
                                    <input id="name" type="text" style="border: none; background: lightgray; width: 70px;" class="text-center" readonly/>
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">초대하기</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class= "p-3 mt-2 border-bottom-0 my-2">
                    <label for="purpose" style=" width: 200px; font-weight: bolder; font-size: 18px; color: #5c636a " >사용목적</label>
                    <textarea id="purpose" class="align-text-top bg-secondary bg-opacity-10" style="width: 70%; height:100px;  border:0 solid black; font-weight: bolder; font-size: 15px;"
                              name="purpose" placeholder="사용목적을 입력해주세요." required></textarea>
                </div>

                <div class="pb-3 d-md-flex justify-content-md-end my-2">
                    <button type="submit" class="btn btn-dark me-md-1" id="createBtn" name="createForm">저장</button>
                    <a class="btn btn-light" href="/meetingRoom/list" >목록</a>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>


    <script th:src="@{ /js/meetingRoom/meetingRoomCreate.js}"></script>


    <script>
        let query = window.location.search;
        let param = new URLSearchParams(query);
        let starts = param.get('start');
        console.log(starts);
        let ends = param.get('end');
        console.log(ends);
        let days = param.get('day');
        console.log(days);
        let room = param.get('room');
        console.log(room);
        let roomPlaces = param.get('roomPlace')
        console.log(roomPlaces);


        startTime = document.getElementById("startTime");
        startTime.value = starts;

        endTime = document.getElementById("endTime");
        endTime.value = ends;

        reserveDate = document.getElementById("reserveDate");
        reserveDate.value = days;

        roomName = document.getElementById("roomName");
        roomName.value = room;

        roomPlace = document.getElementById("roomPlace");
        roomPlace.value = roomPlaces;

    </script>
</th:block>
</html>