<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html}">

<div layout:fragment="content">
  <div class="col" style="background-size: 5px">
    <div class ="container-fluid px-4" style="border-color: gray;">
      <div>
          <h1 class="section-title wow fadeInUp mb-5" data-wow-duration="1000ms" data-wow-delay="300ms" >회의실 상세보기</h1>
      </div>
        <div class="my-4" style="margin-left: 50px;  margin-right: 200px;">
            <form id="formDetail"  >
                <input type="hidden" name="meetingRoomNo" th:value="${meetingRoom.meetingRoomNo}" />
                <div class="p-3 border-bottom">
                    <label for="reserveName" style=" width: 200px; font-weight: bolder;font-size: 18px; color: #5c636a ">예약자</label>
                    <span id="reserveName" class="align-text-top " style="border: none; background: transparent; font-weight: bold; width: 100px; font-size: 18px; color: #999999; "
                        th:text="${meetingRoom.reserveName}" readonly ></span>
                </div>
                <div class = "p-3 border-bottom my-2">
                    <label for="title"style=" width: 200px; font-weight: bolder;font-size: 18px; color: #5c636a ">제목</label>
                    <span id="title" class="align-text-top " style="border: none; background: transparent; font-weight: bold; width: 100px; font-size: 18px; color: #999999; "
                          th:text="${meetingRoom.title}" readonly ></span>
                </div>
                <div class = "p-3 border-bottom-0 my-2">
                    <label for="reserveDate" style=" width: 200px; font-weight: bolder;font-size: 18px; color: #5c636a ">예약날짜</label>
                    <span id="reserveDate" class="align-text-top " style="border: none; background: transparent; font-weight: bold; width: 100px; font-size: 18px; color: #999999; "
                          th:text="${meetingRoom.reserveDate}" readonly ></span>
                </div>
                <div class = "p-3 border-bottom my-2">
                    <label for="startTime" style=" width: 200px; font-weight: bolder;font-size: 18px; color: #5c636a ">예약시간</label>
                    <span id="startTime" class="align-text-top " style="border: none; background: transparent; font-weight: bold; width: 100px; font-size: 18px; color: #999999; "
                          th:text="${meetingRoom.startTime}" readonly ></span>
                    <span class="mt-auto m-2 pb-3 pt-xl-5">~</span>
                    <span id="endTime" class="align-text-top " style="border: none; background: transparent; font-weight: bold; width: 100px; font-size: 18px; color: #999999; "
                          th:text="${meetingRoom.endTime}" readonly ></span>
                </div>
                <div class = "p-3 border-bottom-0 my-2">
                    <label for="roomName" style=" width: 200px; font-weight: bolder;font-size: 18px; color: #5c636a ">회의실</label>
                    <span id="roomName" class="align-text-top " style="border: none; background: transparent; font-weight: bold; width: 100px; font-size: 18px; color: #999999; "
                          th:text="${meetingRoom.roomName}" readonly ></span>
                </div>
                <div class = "p-3 border-bottom my-2">
                    <label for="roomPlace" style=" width: 200px; font-weight: bolder;font-size: 18px; color: #5c636a " >회의실 위치</label>
                    <span id="roomPlace" class="align-text-top " style="border: none; background: transparent; font-weight: bold; width: 100px; font-size: 18px; color: #999999;  "
                          th:text="${meetingRoom.roomPlace}" readonly ></span>
                </div>
                <div class= "p-3 border-bottom my-2">
                    <label for="attendee" style=" width: 200px; font-weight: bolder;font-size: 18px; color: #5c636a ">참석자 사번</label>
                    <span  id="attendee" class="align-text-top " style="border: none; background: transparent; font-weight: bold; width: 100px; font-size: 18px; color: #999999;  " name="attendee"
                           th:text="${meetingRoom.attendee}" readonly></span>

                </div>
                <div class= "p-3 mt-2 border-bottom-0 my-2">
                    <label for="purpose" style=" width: 200px; font-weight: bolder;font-size: 18px; color: #5c636a " >사용목적</label>
                    <span id="purpose" class="align-text-top " style="border: none; background: transparent; font-weight: bold; width: 100px; font-size: 18px; color: #999999;  " name="purpose"
                          th:text="${meetingRoom.purpose}" readonly ></span>
                </div>

                <div class="pb-3 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-dark me-md-1" id="updateBtn">수정</button>
                    <button type="button" class="btn btn-light" id="deleteBtn">삭제</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

<th:block layout:fragment="script">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script th:src="@{ /js/meetingRoom/meetingRoomDetail.js}"></script>

</th:block>
</html>