<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html}">

<div layout:fragment="content">
  <div class="col" style="background-size: 5px">
    <div class ="container-fluid px-4">
      <div class="section-header">
        <h1 class="section-title wow fadeInUp mb-5" data-wow-duration="1000ms" data-wow-delay="300ms" >회의실 상세보기</h1>
      </div>
      <form id="formDetail">
          <input type="hidden" name="meetingRoomNo" th:value="${meetingRoom.meetingRoomNo}" />
        <div class="p-3 border-bottom">
            <label for="reserveName" style=" width: 150px; ">예약자</label>
            <span id="reserveName" class="align-text-top"
                  th:text="${meetingRoom.reserveName}" readonly ></span>
        </div>
        <div class = "p-3 border-bottom">
            <label for="title" style=" width: 150px; ">제목</label>
            <span id="title" class="align-text-top"
                  th:text="${meetingRoom.title}" readonly ></span>
        </div>
        <div class = "p-3 border-bottom">
            <label for="roomName" style=" width: 150px; ">회의실</label>
            <span id="roomName" class="align-text-top"
                  th:text="${meetingRoom.roomName}" readonly ></span>
        </div>
          <div class = "p-3 border-bottom">
              <label for="roomPlace" style=" width: 150px; " >회의실 위치</label>
              <span id="roomPlace" class="align-text-top"
                    th:text="${meetingRoom.roomPlace}" readonly ></span>
          </div>

        <div class = "p-3 border-bottom">
            <label for="reserveDate" style=" width: 150px; ">예약날짜</label>
            <span id="reserveDate" class="align-text-top"
                  th:text="${meetingRoom.reserveDate}" readonly ></span>
        </div>
          <div class = "p-3 border-bottom">
              <label for="startTime" style=" width: 150px; ">예약시간</label>
                <span id="startTime" class="align-text-top"
                      th:text="${meetingRoom.startTime}" readonly ></span>
                <span class="mt-auto m-2 pb-3 pt-xl-5">~</span>
                <span id="endTime" class="align-text-top"
                      th:text="${meetingRoom.endTime}" readonly ></span>
        </div>
        <div class= "p-3 border-bottom">
            <label for="attendee" style=" width: 150px; ">참석자</label>
            <span  id="attendee" class="align-text-top" name="attendee"
                   th:text="${meetingRoom.attendee}" readonly></span>

        </div>
        <div class= "p-3 mt-2 border-bottom">
            <label for="purpose" style=" width: 150px; " >사용목적</label>
            <span id="purpose" class="align-text-top" style="width: 1000px; height: 200px;" name="purpose"
                  th:text="${meetingRoom.purpose}" readonly ></span>
<!--            <input id="purpose" class="align-text-top" style="width: 1000px; height: 200px;"-->
<!--                    th:text="${meetingRoom.purpose}" readonly >-->
<!--            <textarea rows="5" cols="80" id="purpose" class="align-text-top" style="width: 1000px; height: 200px;"-->
<!--                      th:text="${meetingRoom.purpose}" readonly ></textarea>-->
        </div>

        <div class="pb-3 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-info" id="updateBtn">수정</button>
            <button type="button" class="btn btn-outline-info" id="deleteBtn">삭제</button>
        </div>
      </form>

    </div>
  </div>
</div>

<th:block layout:fragment="script">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script th:src="@{ /js/meetingRoom/meetingRoomDetail.js}"></script>

</th:block>
</html>