<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html}">
<head>
    <title>hr</title>
    <link rel="stylesheet" th:href="@{/css/meetingRoom/meetingRoom.css}" />

</head>
<div layout:fragment="content">
        <div class ="container-fluid px-4">
                <h1>회의실 예약</h1>
                    <button type="button" class="checkBtn btn btn-outline-secondary">*</button>
            <div class="text-center" >
                <input type="date" value="xxx" min="yyy" max="zzz" id="reserveDate" placeholder="검색일자를 입력해주세요.">
                <input id="input_submit" type="submit" onclick="input()" value="확인" />
                <a th:href="@{/meetingRoom/create}" class="btn btn-outline-dark" style="margin: 30px;">예약</a>
            </div>
            <div style="width: 100%; overflow: auto;">
                <table drag-select class="table table-bordered" id="listTable" style="white-space: nowrap;">
                    <thead>
                        <tr>
                            <td></td>
                            <th>08:00</th>
                            <th>09:00</th>
                            <th>10:00</th>
                            <th>11:00</th>
                            <th>12:00</th>
                            <th>13:00</th>
                            <th>14:00</th>
                            <th>15:00</th>
                            <th>16:00</th>
                            <th>17:00</th>
                            <th>18:00</th>
                            <th>19:00</th>
                            <th>20:00</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbodyId">
                        <tr>
                            <th style="width: 100px;">회의실1</th>
                            <td id="1"></td>
                            <td id="2"></td>
                            <td id="3"></td>
                            <td id="4"></td>
                            <td id="5"></td>
                            <td id="6"></td>
                            <td id="7"></td>
                            <td id="8"></td>
                            <td id="9"></td>
                            <td id="10"></td>
                            <td id="11"></td>
                            <td id="12"></td>
                            <td id="13"></td>
                            <td><button type="button"  class="checkBtn">click</button></td>
                        </tr>
                        <tr>
                            <th>회의실2</th>
                            <td value="08:00"><input value="08:00" type="hidden"/></td>
                            <td><input value="09:00" type="hidden"/></td>
                            <td><input value="10:00" type="hidden" /></td>
                            <td><input value="11:00" type="hidden" /></td>
                            <td><input value="12:00" type="hidden" /></td>
                            <td><input value="13:00" type="hidden" /></td>
                            <td><input value="14:00" type="hidden" /></td>
                            <td><input value="15:00" type="hidden" /></td>
                            <td><input value="16:00" type="hidden" /></td>
                            <td><input value="17:00" type="hidden" /></td>
                            <td><input value="18:00" type="hidden" /></td>
                            <td><input value="19:00" type="hidden" /></td>
                            <td><input value="20:00" type="hidden" /></td>
                            <td><button type="button" class="saveBtn">click</button></td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-lg-12" id="ex2_Result1" ></div>
                <pre id='result'></pre>
            </div>

<!--            예약 현황-->
            <div>
                <div>
                    <h2>내 예약 현황</h2>
                </div>
                <div>
                    <form th:action="@{ /meetingRoom/ list}" method="get">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>예약날짜</th>
                                    <th>시작시간</th>
                                    <th>종료시간</th>
                                    <th>제목</th>
                                    <th>회의실</th>
                                    <th>회의실 위치</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="meetingRoom : ${ list }">
                                    <td>
                                        <a th:href="@{/meetingRoom/detail?meetingRoomNo={meetingRoomNo} (meetingRoomNo = ${meetingRoom.meetingRoomNo}) }" th:text="${meetingRoom.meetingRoomNo}"></a>
                                    </td>
                                    <td th:text="${meetingRoom.reserveDate}"></td>
                                    <td th:text="${meetingRoom.startTime}"></td>
                                    <td th:text="${meetingRoom.endTime}"></td>
                                    <td th:text="${meetingRoom.title}"></td>
                                    <td th:text="${meetingRoom.roomName}"></td>
                                    <td th:text="${meetingRoom.roomPlace}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
</div>

<th:block layout:fragment="script">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script th:src="@{ /js/meetingRoomList.js}" th:inline="javascript"></script>

</th:block>


</html>