<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html}">
<head>
    <title>hr</title>
    <link rel="stylesheet" th:href="@{/css/meetingRoom/meetingRoom.css}" />

</head>
<div layout:fragment="content">
        <div class ="container-fluid px-4">
                <h1>회의실 예약</h1>
<!--                    <button type="button" class="checkBtn btn btn-outline-secondary">*</button>-->

                    <input type="date" name="dateValue" value="xxx" min="yyy" max="zzz" id="reserveDate" />
                    <input id="input_submit" type="submit" onclick="input()" value="확인" />
                    <button id="button" type="button" class="checkBtn">버튼</button>

            <div class="col-3">
                <button id="btnRegisterRoom" class="btn btn-outline-info">예약</button>
            </div>


        <div class="section-header">

                <div style="width: 100%; overflow: auto;">
                    <table drag-select class="table table-bordered" id="listTable"></table>
                    <p id="myid1" ></p>

                    <div class="col-lg-12" id="ex2_Result1" ></div>
                    <pre id='result'></pre>
                </div>


<!--            예약 현황-->
            <div>
                <div>
                    <h2>내 예약 현황</h2>
                </div>
                <div>
                    <form th:action="@{ /meetingRoom/ list}" method="get">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>예약날짜</th>
                                    <th>시작시간</th>
                                    <th>종료시간</th>
                                    <th>제목</th>
                                    <th>회의실</th>
                                    <th>회의실 위치</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="meetingRoom : ${ list }">
                                    <td>
                                        <a th:href="@{/meetingRoom/detail?meetingRoomNo={meetingRoomNo} (meetingRoomNo = ${meetingRoom.meetingRoomNo}) }" th:text="${meetingRoom.meetingRoomNo}"></a>
                                    </td>
                                    <td th:text="${meetingRoom.reserveDate}"></td>
                                    <td th:text="${meetingRoom.startTime}"></td>
                                    <td th:text="${meetingRoom.endTime}"></td>
                                    <td th:text="${meetingRoom.title}"></td>
                                    <td th:text="${meetingRoom.roomName}"></td>
                                    <td th:text="${meetingRoom.roomPlace}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        </div>
</div>

<th:block layout:fragment="script">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script th:src="@{ /js/meetingRoom/meetingRoomList.js}" th:inline="javascript"></script>


</th:block>


</html>