<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html}">
<head>
  <link th:href="@{/css/layout/styles.css}" rel="stylesheet"/>

</head>
<div layout:fragment="content">
    <div class ="container-fluid px-4">
        <div>
            <h1>회의실 예약수정</h1>
        </div>
        <div class="my-4" style="padding-left: 50px;  padding-right: 200px;" >
          <form id="formModify" >
            <input type="hidden" id="meetingRoomNo" name="meetingRoomNo" th:value="${meetingRoom.meetingRoomNo}" readonly />
            <div class="p-3 border-bottom my-2">
              <label for="reserveName" style=" width: 200px; font-weight: bolder;font-size: 18px; color: #5c636a ">예약자명</label>
              <input id="reserveName" th:value="${meetingRoom.reserveName}" style="border: none; background: transparent; font-weight: bold; font-size: 18px;  width: 100px; " readonly />
            </div>
            <div class = "p-3 border-bottom my-2">
              <label for="title" style=" width: 200px; font-weight: bolder; font-size: 18px; color: #5c636a ">제목</label>
              <input id="title" class="align-text-top bg-secondary bg-opacity-10" style="border:0 solid black;  height: 40px; width:70%; font-weight: bolder; font-size: 15px;"
                    th:value="${meetingRoom.title}" name="title" placeholder="제목을 입력해주세요." required autofocus />
            </div>
            <div class = "p-3 border-bottom-0 my-2">
              <label for="reserveDate" style=" width: 200px; font-weight: bold; font-size: 18px; color: #5c636a ">예약날짜</label>
              <span id="reserveDate" class="align-text-top" style="border: none; background: transparent; font-weight: bold; font-size: 18px; color: #999999; width: 30%;"
                    th:text="${meetingRoom.reserveDate}" readonly ></span>
            </div>
            <div class = "p-3 border-bottom my-2">
              <label for="startTime" style=" width: 200px; font-weight: bold; font-size: 18px; color: #5c636a ">예약시간</label>
              <span id="startTime" class="align-text-top"  style="border: none; background: transparent; font-weight: bold; font-size: 18px; color: #999999; width: 50px;"
                    th:text="${meetingRoom.startTime}" readonly ></span>
              <span class="mt-auto m-2 pb-3 pt-xl-5">~</span>
              <span id="endTime" class="align-text-top" style="border: none; background: transparent; font-weight: bold; font-size: 18px; color: #999999; width: 100px;"
                    th:text="${meetingRoom.endTime}" readonly ></span>
            </div>
            <div class = "p-3 border-bottom-0 my-2">
              <label for="roomName" style=" width: 200px; font-weight: bold; font-size: 18px; color: #5c636a ">회의실</label>
              <span id="roomName" class="align-text-top" style="border: none; background: transparent; font-weight: bold; font-size: 18px; color: #999999; width: 100px;"
                    th:text="${meetingRoom.roomName}" readonly ></span>
            </div>
            <div  class = "p-3 border-bottom my-2">
              <label for="roomPlace" style=" width: 200px; font-weight: bold; font-size: 18px; color: #5c636a " >회의실 위치</label>
              <span id="roomPlace" class="align-text-top " style="border: none; background: transparent; font-weight: bold; width: 100px; font-size: 18px; color: #999999;  "
                    th:text="${meetingRoom.roomPlace}" readonly ></span>
            </div>
            <div class= "p-3 border-bottom my-2">
              <label for="attendee" style=" width: 200px; font-weight: bolder; font-size: 18px; color: #5c636a ">참석자</label>
              <input id="attendee" class="align-text-top bg-secondary bg-opacity-10 " style="border:0 solid black;  height: 40px; width:50%; font-weight: bolder; font-size: 15px;"
                    th:value="${meetingRoom.attendee}" type="text" name="attendee" readonly />
              <button type="button" class="btn btn-light" style="margin-top: 15px; " data-bs-toggle="modal" data-bs-target="#inviteModal">
                <i class="fa-solid fa-user-plus"  ></i>
              </button>
              <div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="ModalLabel">참석자 사번</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div  class="container border-bottom my-2" style=" width: 600px; height: 500px;">
                      <ul class="tree" id="orgTree">

                      </ul>
                    </div>
                    <span class="modal-title fs-5">참석자 명단</span>
                    <div>
                      <input id="name" type="text" style="border: none; width: 300px;" class="text-center" />
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-bs-dismiss="modal">초대하기</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class= "p-3 mt-2 border-bottom-0 my-2">
              <label for="purpose" style=" width: 200px; font-weight: bolder; font-size: 18px; color: #5c636a " >사용목적</label>
              <textarea id="purpose" class="align-text-top bg-secondary bg-opacity-10" style="width: 70%; height:100px;  border:0 solid black; font-weight: bolder; font-size: 15px;"
                        th:text="${meetingRoom.purpose}" name="purpose" ></textarea>
            </div>

            <div class="pb-3 d-md-flex justify-content-md-end my-2">
                <button type="button" class="btn btn-dark me-md-1" id="modifyBtn">저장</button>
                <a class="btn btn-light" th:href="@{/meetingRoom/list?employeeNo={employeeNo} (employeeNo = ${#authentication.principal.employeeNo})}" id="cancelModify">취소</a>
            </div>
          </form>
        </div>
      </div>
  </div>

<th:block layout:fragment="script">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

  <script th:src="@{ /js/meetingRoom/meetingRoomModify.js}"></script>
  <script th:src="@{ /js/meetingRoom/meetingRoomCreate.js}"></script>

</th:block>
</html>