<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ layout/layout.html}">
<head>
  <link th:href="@{/css/layout/styles.css}" rel="stylesheet"/>
  <link th:href="@{/css/meetingRoom/meetingRoomCreate.css}" rel="stylesheet"/>

</head>
<div layout:fragment="content">
    <div class ="container-fluid px-4">
      <div>
          <h1>회의실 예약수정</h1>
      </div>
      <form id="formModify" >
          <input type="hidden" id="meetingRoomNo" name="meetingRoomNo" th:value="${meetingRoom.meetingRoomNo}" readonly />
          <div class="p-3 border-bottom">
          <label for="reserveName" style=" width: 150px; ">예약자</label>
          <input id="reserveName" th:value="${meetingRoom.reserveName}" style="border: none; background: transparent;" readonly />
        </div>
        <div class = "p-3 border-bottom">
          <label for="title" style=" width: 150px; ">제목</label>
          <input id="title" class="align-text-top"
                 th:value="${meetingRoom.title}" name="title" placeholder="제목을 입력해주세요." required autofocus />
        </div>
        <div class = "p-3 border-bottom">
          <label for="roomName" style=" width: 150px; ">회의실</label>
          <span id="roomName" class="align-text-top"
                th:text="${meetingRoom.roomName}" readonly ></span>
        </div>
        <div class = "p-3 border-bottom">
          <label for="roomPlace" style=" width: 150px; " >회의실 위치</label>
          <span id="roomPlace" class="align-text-top"
                th:text="${meetingRoom.roomPlace}" readonly ></span>
        </div>
        <div class = "p-3 border-bottom">
          <label for="reserveDate" style=" width: 150px; ">예약날짜</label>
          <span id="reserveDate" class="align-text-top"
                th:text="${meetingRoom.reserveDate}" readonly ></span>
        </div>
        <div class = "p-3 border-bottom">
          <label for="startTime" style=" width: 150px; ">예약시간</label>
          <span id="startTime" class="align-text-top"
                th:text="${meetingRoom.startTime}" readonly ></span>
          <span class="mt-auto m-2 pb-3 pt-xl-5">~</span>
          <span id="endTime" class="align-text-top"
                th:text="${meetingRoom.endTime}" readonly ></span>
        </div>
        <div class= "p-3 border-bottom">
          <label for="attendee" style=" width: 150px; ">참석자</label>
          <input id="attendee" class="align-text-top"
                 th:value="${meetingRoom.attendee}" name="attendee" readonly />

          <input type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#inviteModal" data-bs-whatever="@mdo" value="초대" />

          <div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5">참석자</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container" style=" width: 300px; height: 400px;">
                  <ul class="tree" id="orgTree">

                  </ul>
                </div>

                <div>
                  <input id="name" type="text" style="border: none; background: lightgray; width: 70px;" class="text-center" readonly/>
                </div>
                <div class="modal-footer">

                  <button type="button" class="btn btn-dark" data-bs-dismiss="modal">초대하기</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class= "p-3 mt-2 border-bottom">
          <label for="purpose" style=" width: 150px; " >사용목적</label>
          <textarea id="purpose" class="align-text-top" style="width: 100%;"
                    th:text="${meetingRoom.purpose}" name="purpose" ></textarea>
        </div>

        <div class="pb-3 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-outline-info me-md-1" id="modifyBtn">저장</button>
          <a class="btn btn-outline-info" href="/meetingRoom/list" id="cancelModify">취소</a>
        </div>
      </form>
    </div>
</div>

<th:block layout:fragment="script">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script th:src="@{ /js/meetingRoom/meetingRoomModify.js}"></script>
  <script th:src="@{ /js/meetingRoom/meetingRoomCreate.js}"></script>

</th:block>
</html>