<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{ layout/layout.html }">

<head>
    <meta charset="UTF-8">
    <title>보낸쪽지함</title>
</head>

<div layout:fragment="content">
    <h1>보낸쪽지함</h1>
    <hr>

    <div class="card my-2">
        <div class="card-body">
            <div class="my-2">
                <form method="get" th:action="@{ /message/sendList }">
                    <div class="row">
                        <div class="col-2">
                            전체 <span style="color:red;" th:text=" ${ messageCount }"></span>
                        </div>
                        <div class="col-3 p-2" style="margin-right:10px; text-align: right;" >
                            <span style="color:red;">긴급! </span>
                            <input type="checkbox" name="messageType" value="긴급" th:checked="${messageType == '긴급'}"  onclick="messageTypeCheckBoxCheck(this)"/>
                            &nbsp 중요 <input type="checkbox" name="messageType" value="중요" th:checked="${messageType == '중요'}"  onclick="messageTypeCheckBoxCheck(this)"/>
                            &nbsp 일반 <input type="checkbox" name="messageType" value="일반" th:checked="${messageType == '일반'}"  onclick="messageTypeCheckBoxCheck(this)"/>
                        </div>
                        <div class="col-2" style="padding: 1px; width:100px;">
                            <select name="contentType" class="form-control" >
                                <option value="all" th:selected="${contentType} == 'all'">전체</option>
                                <option value="title" th:selected="${contentType} == 'title'">제목</option>
                                <option value="sender" th:selected="${contentType} == 'sender'">받은사람</option>
                            </select>
                        </div>
                        <div class="col-3" style="padding: 1px;">
                            <input type="text" class="form-control" name="keyword" placeholder="검색어" autofocus />
                        </div>
                        <div class="col-2" style="padding: 1px;">
                            <input type="submit" class="btn btn-outline-info" value="검색" />
                        </div>
                    </div>
                </form>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" onclick="messageCheckBoxCheckAll(this)"/></th>
                        <th style="color:red;">!</th>
                        <th>분류</th>
                        <th>제목</th>
                        <th>받은사람</th>
                        <th>일시</th>
                        <th>읽은시간</th>
                    </tr>
                </thead>
                <tbody>
                    <form action="/message/senderSendTrash" id="sendTrash">
                        <input type="hidden" name="employeeNo" th:value="${#authentication.principal.employeeNo}" />
                        <tr th:each="message : ${messageList}">
                            <td><input type="checkbox" name="messageCheckBox" th:value="${message.getMessageNo()}"/></td>
                            <th:block>
                                <td th:if="${message.getMessageType() == '긴급'}" style="color: red" th:onclick="|location.href='@{ /message/detailMessage(messageNo=${ message.getMessageNo() }, employeeNo=${#authentication.principal.employeeNo} ) }'|">!</td>
                                <td th:if="${message.getMessageType() != '긴급'}" th:onclick="|location.href='@{ /message/detailMessage(messageNo=${ message.getMessageNo() }, employeeNo=${#authentication.principal.employeeNo} ) }'|">!</td>
                            </th:block>
                            <td th:text="${ message.getMessageType()}" th:onclick="|location.href='@{ /message/detailMessage(messageNo=${ message.getMessageNo() }, employeeNo=${#authentication.principal.employeeNo} ) }'|"></td>
                            <td th:text="${ message.getTitle()}" th:onclick="|location.href='@{ /message/detailMessage(messageNo=${ message.getMessageNo() }, employeeNo=${#authentication.principal.employeeNo} ) }'|"></td>
                            <td th:text="${ message.getReceiveEmployeeNo().getName()}" th:onclick="|location.href='@{ /message/detailMessage(messageNo=${ message.getMessageNo() }, employeeNo=${#authentication.principal.employeeNo} ) }'|"></td>
                            <td th:text="${ #temporals.format(message.getSendTime(), 'yyyy-MM-dd HH:mm') }" th:onclick="|location.href='@{ /message/detailMessage(messageNo=${ message.getMessageNo() }, employeeNo=${#authentication.principal.employeeNo} ) }'|"></td>
                            <th:block th:if="${message.getReceiveReadCheck() == 1}" >
                                <td th:text="${ #temporals.format(message.getReadTime(), 'yyyy-MM-dd HH:mm') }" th:onclick="|location.href='@{ /message/detailMessage(messageNo=${ message.getMessageNo() }, employeeNo=${#authentication.principal.employeeNo} ) }'|"></td>
                            </th:block>
                            <th:block th:if="${message.getReceiveReadCheck() == 0}" >
                                <td th:onclick="|location.href='@{ /message/detailMessage(messageNo=${ message.getMessageNo() }, employeeNo=${#authentication.principal.employeeNo} ) }'|">안읽음</td>
                            </th:block>
                        </tr>
                    </form>
                </tbody>
            </table>

            <nav aria-label="Page navigation example" class="my-3 mb-3">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${messageList.pageable.pageNumber == 0 } ? 'disabled'">
                        <a class="page-link" th:href="@{/message/sendList(page=${messageList.pageable.pageNumber -1}, contentType=${param.contentType}, keyword=${param.keyword}, messageType=${param.messageType} )}" tabindex="-1" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li class="page-item " th:classappend="${num == messageList.pageable.pageNumber+1} ? 'disabled'" th:each="num : ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link"  th:href="@{/message/sendList(page=${num -1}, contentType=${param.contentType}, keyword=${param.keyword}, messageType=${param.messageType} )}", th:text="${num}">1</a>
                    </li>

                    <li class="page-item" th:classappend="${messageList.totalPages <= messageList.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link " th:href="@{/message/sendList(page=${messageList.pageable.pageNumber + 1}, contentType=${param.contentType}, keyword=${param.keyword}, messageType=${param.messageType} )}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div>
                <a href="writeMessage" class="btn btn-outline-secondary">쪽지쓰기</a>
                <button type="button" href="#" class="btn btn-outline-secondary" form="sendTrash" onclick="messageSendTrash(this)">삭제하기</button>
            </div>
        </div>
    </div>


</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/message/messageTypeCheckBoxCheck.js}"></script>
    <script th:src="@{/js/message/messageCheckBoxCheckAll.js}"></script>
    <script th:src="@{/js/message/messageSendTrash.js}"></script>
</th:block>


</html>