/*-----사원 대략 header 정보-----*/
#header_info{
    /*margin: 5em 4em ;*/
    background: rgb(65,76,95);
    border-radius: 6px;
    padding: 20px 160px 20px 20px;
}

/*공통 크기 사이즈*/
.header_title_color{
    color: #dadada;
    font-size: 20px;
}
.header_content_color{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 14px;
}

.info{
    margin-top: 3%;
}

/*!*-----사진 이름 소속팀-----*!*/
#image img {
    margin-left: 24%;
    width: 230px;
    height: 250px;
    object-fit: fill;
}


/*------공통 인풋 디자인------*/
.design-input{
    padding: 0.7em;
    font-weight: bold;
    font-size: 18px;
}


.wrap_div{
    margin: 4% 0;
}
.wrap_div{
    font-size: 20px;
    font-weight: bold;
}
.sector_div{
    padding-top: 10px;
}

#department,#team,#work{
    height: 54px;
    font-size: 17px;
}
#btnSearch_div{
    margin-bottom: 0.5%;
}


/*----달 select 박스 검색 버튼----*/
.selectMonth{
    margin-left: 28%;
    height: 40px;
    border: solid 1px #dadada;
    border-radius: 6px;
    width: 45%;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.selectMonth option{
    text-align: center;
}
.selectMonth::-ms-expand {
    display: none;
}

/*----수정버튼----*/
#div_updateButton{
    float: right;
}

/*----출근기롤 표----*/
table{
    text-align: center;
}