/*-----사원 대략 header 정보-----*/
#header_info{
    margin: 8em 4em ;
    background: rgb(65,76,95);
    border-radius: 6px;
}

/*공통 크기 사이즈*/
.header_title_color{
    color: #dadada;
    font-size: 15px;
}
.header_content_color{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-left: 14px;
}

/*-----사진 이름 소속팀-----*/
#image{
    display: inline-block;
    margin-left: 10%;
    margin-right: 4%;
}
#name_team_info{
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 70px;
}
#header_name{
    font-weight: bold;
    font-size: 17px;
}
#header_team{

}
/*----header 첫번째줄 info----*/
#header_info_wrap{
    display: inline-block;
}

.info_1_title{
    margin-bottom: 8px;
}

#header_info_1{
    margin-left: 10px;
}
#header_info_1 div{
    display: inline-block;
    margin-top: 15px;
    /*padding-right: 191px;*/
}
#header_info_2{
    margin-left: 10px;
}

#header_info_2 div{
    display: inline-block;
    margin-bottom: 10px;
    /*padding-right: 220px;*/
}

/*------공통 인풋 디자인------*/
.design-input{
    border: 1px solid #dadada;
    border-radius: 6px 6px 6px 6px;
    padding: 0.7em;
    font-weight: bold;
    font-size: 18px;
    width: 64%;
    margin: 10px 0;
}

.input_wrap_div{
    display: inline-block;
    height: 100%;
}

.wrap_div{
    /*border: 2px solid black;*/
    margin: 30px;
    height: 80px;
}
.wrap_div span{
    font-size: 20px;
    float: left;
    width: 150px;
    line-height: 80px;
}
/*------메인 내용 시작-------*/
#body_wrap{
    margin: 4em 4em 1em 4em;
    border-top: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
}
#div_body_cover{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-top: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
}
#employeeNo_name{
    margin: 20px;
}

/*---부서, 팀 ,직책 css---*/
#div_team{

}
.select_part {
    width: 176px;
    height: 50px;
    margin-top: 14px;
    border: solid 1px #dadada;

    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select_part option{
    text-align: center;
}
.select_part::-ms-expand {
    display: none;
}

.team,.work{

}

/*----수정버튼----*/
#div_updateButton{
    margin: 0 4em;
    float: right;
}

/*----이미지 동그랗게----*/
#image{
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
    display: inline-block;
}
#image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}